{% extends 'human_resource/base.html' %} {% block page_title %} Dashboard {% endblock %} {% block page_name %} Dashboard
{% endblock %} {% block content %}
<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="public-user-block block">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4 d-flex align-items-center">
                    <div class="order">1st</div>
                    <div class="avatar">
                        <img src="{{ user.profile.image.url }}" alt="..." class="img-fluid">
                    </div>
                    {% if user.is_authenticated %}
                        <a href="#" class="name"><strong class="d-block">{{ user.first_name }} {{ user.last_name }}</strong><span class="d-block">@{{ user.username }}</span></a>
                    {% else %}
                        <a href="#" class="name"><strong class="d-block">Please login</strong><span class="d-block">@anoymous</span></a>
                    {% endif %}
                </div>
                <div class="col-lg-4 text-center">
                    <div class="contributions">410 Contributions</div>
                </div>
                <div class="col-lg-4">
                    <div class="details d-flex">
                        <div class="item"><i class="icon-info"></i><strong>110</strong></div>
                        <div class="item"><i class="fa fa-gg"></i><strong>200</strong></div>
                        <div class="item"><i class="icon-flow-branch"></i><strong>100</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}