{% extends 'human_resource/base.html' %}
{% block page_title %}Change Password | {% endblock %}
{% block page_name %} Profile {% endblock %}
{% block custom_margin %}no-margin-bottom{% endblock %}
{% block breadcrumb %}
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'human_resource:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:profile_view' %}">Profile</a></li>
        <li class="breadcrumb-item active">Change Password</li>
    </ul>
</div>
{% endblock %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="{% url 'accounts:change_password' %}" class="card">
                    <div class="card-header">
                        <h5 class="card-title">Change Password</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% csrf_token %}
                            {% include 'accounts/profile-form-template.html' %}
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}