{% extends 'human_resource/base.html' %}
{% block page_title %}Profile Edit | {% endblock %}

{% block content %}
    <div class="container">
        <h2>Profile</h2>
        <ul>
            <li>{{ user.username }}</li>
            <li>{{ user.first_name }}</li>
            <li>{{ user.last_name }}</li>
            <li>{{ user.email }}</li>
        </ul>
    </div>
    <form method="POST" class="form-validate" action="{% url 'accounts:profile_edit' %}" autocomplete="off">
            {% csrf_token %}
            {% include 'registration/form-template.html' %}
            <input type="submit" value="Update Profile" class="btn btn-primary" />
        </form>
{% endblock %}