{% extends 'registration/base.html' %}
{% block title %}Register | {% endblock %}
{% block content %}
<form method="POST" class="text-left form-validate" autocomplete="">
    {% csrf_token %}
    {% include 'registration/form-template.html' %}
    <div class="form-group text-center">
        <input id="register" type="submit" value="Register" class="btn btn-primary">
    </div>
</form>
<small>Already have an account? </small><a href="{% url 'accounts:login' %}" class="signup">Login</a>
{% endblock %}