{% extends 'registration/base.html' %}
{% block title %}Register | {% endblock %}
{% block content %}
{% if form.errors %}
<p class="text-danger">Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
<p class="text-danger">{{ form.errors }}</p>
{% endif %} 
{% if next %}
<p class="text-danger">Sorry you don't have access to that page.</p>
{% endif %}
<form method="POST" class="text-left form-validate" autocomplete="">
    {% csrf_token %}
    <div class="form-group-material">
        <input id="first-name" type="text" name="first_name" required data-msg="Please enter your first name" class="input-material">
        <label for="first-name" class="label-material">First Name</label>
    </div>
    <div class="form-group-material">
        <input id="last-name" type="text" name="last_name" required data-msg="Please enter your last name" class="input-material">
        <label for="last-name" class="label-material">Last Name</label>
    </div>
    <div class="form-group-material">
        <input id="register-username" type="text" name="username" required data-msg="Please enter your username" class="input-material">
        <label for="register-username" class="label-material">Username</label>
    </div>
    <div class="form-group-material">
        <input id="register-email" type="email" name="email" required data-msg="Please enter a valid email address" class="input-material">
        <label for="register-email" class="label-material">Email Address </label>
    </div>
    <div class="form-group-material">
        <input id="register-password" type="password" name="password1" required data-msg="Please enter your password" class="input-material">
        <label for="register-password" class="label-material">Password </label>
    </div>
    <div class="form-group-material">
        <input id="register-password" type="password" name="password2" required data-msg="Please enter your password" class="input-material">
        <label for="register-password" class="label-material">Password confirmation</label>
    </div>
    <div class="form-group terms-conditions text-center">
        <input id="register-agree" name="registerAgree" type="checkbox" required value="1" data-msg="Your agreement is required"
            class="checkbox-template">
        <label for="register-agree">I agree with the terms and policy</label>
    </div>
    <div class="form-group text-center">
        <input id="register" type="submit" value="Register" class="btn btn-primary">
    </div>
</form>
<small>Already have an account? </small><a href="{% url 'accounts:login' %}" class="signup">Login</a>
{% endblock %}