{% if error_message %}
    <p class="text-danger">{{ error_message }}</p>
{% endif %}

{% if form.non_field_errors %}
    <div class="page-header">
    {% for error in form.non_field_errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}

{% for field in form %}
<div class="form-group-material">
    {{ field }}
    <div id="{{ field.name }}-error" class="is-invalid invalid-feedback" style="display: block;">{{ field.errors.as_text }}</div>
    <label class="label-material" for="{{ field.auto_id }}">{{ field.label }}</label>
</div>
{% endfor %}