{% extends 'accounts/login-base.html' %}
{% block title %}Register | {% endblock %}
{% block content %}
{% if error_message %}
<p class="text-danger">{{ error_message }}</p>
{% endif %}
<form method="POST" class="text-left form-validate" action="{% url 'accounts:register' %}" autocomplete="">
    {% csrf_token %}
    {% include 'registration/form-template.html' %}
    <div class="form-group text-center">
        <input id="register" type="submit" value="Register" class="btn btn-primary">
    </div>
</form>
<small>Already have an account? </small><a href="{% url 'accounts:login' %}" class="signup">Login</a>
{% endblock %}