{% extends 'accounts/login-base.html' %}
{% block title %}Forgot Password | {% endblock %}
{% block header_message %}Password Reset{% endblock %}
{% block header_sub_message %}Forgotten your password? Enter your email address, and we'll email instructions for setting a new one.{% endblock %}

{% block content %}
<form method="POST" class="form-validate" autocomplete="off">
    {% csrf_token %}
    <div class="form-group-material">
        <input id="register-email" type="email" name="email" required="" data-msg="Please enter a valid email address" class="input-material">
        <label for="register-email" class="label-material">Email Address</label>
      </div>
    <input type="submit" value="Reset my password" class="btn btn-primary" />
    <a href="{% url 'accounts:login' %}" class="btn btn-secondary ml-2">Cancel</a>
</form>
{% endblock %}